*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    
    html{
    background-color: rgb(red, green, blue);
    
    }
    
    main{
    width: 660px;
    background-color: rgb(red, green, blue);
    font-size: 14px;
    box-shadow: 0 0 10px black;
    margin: 10px auto;
    padding: 10px;
    height: 500px;
    }

    #principal{
background-color: rgb(red, green, blue);
border: 1px dotted #666;
margin-top: 20px;
position: relative;
    }

    section{
height: 100px;
width: 100px;
padding: 10px;

    }

    .janela1{
background-color: red;
position: absolute;
top: 10px;
left: 10px;
    }

    .janela2{
background-color: gold;
position: absolute;
top: 30px;
left: 30px;
    }

    .janela3{
background-color: blue;
position: absolute;
top: 50px;
left: 50px;


    }